.spinner {
    border: 16px solid silver;
    border-top: 16px solid #337AB7;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    animation: spin 700ms linear infinite;
    align-content: center;
    position: center;
    display: flex;
    margin: auto;
    padding: initial;
}
